.description-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 150px;
    height: calc(100vh - 128px);
    animation: scaleIn 1s forwards;
}

.description-title {
    margin-top: 80px;
}

.description-text {
    height: 100%;
    overflow-y: auto;
    background-color: #1e1e1e;
    white-space: pre-wrap;
    padding: 20px;
}

.description-info {
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    /* opacity: 0.5; */
}

.start-btn {
    margin-bottom: 40px;
    align-self: center;
    width: 180px;
    height: 80px;
    border: #2e2e2e solid 2px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background: #2e2e2e;
    transition: all 0.3s ease;
}

.start-btn:hover {
    border: #9400FF solid 2px;
    background-color: #9400FF;
    box-shadow: 0 50px 30px rgba(148, 0, 255, 0.2);
}