.footer {
    position: fixed;
    background-color: #121212;
    color: gray;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.footer-copy {
    margin: 0;
    font-size: 14px;
}