.header,
.headerHome {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  background-color: #121212;
  padding: 0 25px;
  z-index: 1;
}

.headerHome {
  box-shadow: 0 5px 60px rgba(148, 0, 255, 0.17);
  background: linear-gradient(transparent, rgb(18, 18, 18), rgba(148, 0, 255, 0.1));
}

.header-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
}

.header-link:hover {
  color: #007bff;
}
