.header,
.headerHome {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  background-color: #121212;
  padding: 0 25px;
  z-index: 1;
}

.headerHome {
  background: linear-gradient( #121212, rgba(18, 18, 18, 1), rgba(148, 0, 255, 0.1));
  animation: shadowIn 1s ease forwards;
}

@keyframes shadowIn {
  from {
    box-shadow: 0 0 0 rgba(148, 0, 255, 0);
  }
  to {
    box-shadow: 0 5px 60px rgba(148, 0, 255, 0.17);
  }
}

.header-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
}

.header-link:hover {
  color: #007bff;
}
