.header {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  background-color: #121212;
  padding: 0 15px;
  z-index: 1;
}

.header-link img {
  padding: 0;
  margin: 0;
  width: 200px;
  height: 60px;
  white-space: nowrap;
}