.langSelectPage-main-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 128px);
}

.langSelectPage-main-container .select-stadium {
  margin-bottom: 60px;
}

.lang-top-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(-20px) scale(0.8);
  animation: scaleIn 1s forwards, bounce 1s 0.5s infinite alternate;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes bounce {
  to {
    transform: translateY(-10px);
  }
}

.lang-button-container-1st,
.lang-button-container-2st {
  display: flex;
  justify-content: space-between;
}

.lang-top-button-container img {
  width: 175px;
  height: 175px;
  margin: 20px;
  border: 3px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.lang-top-button-container img.selected {
  border: 3px solid #9400FF;
  box-shadow: 0 50px 30px rgba(148, 0, 255, 0.2);
}

.lang-top-button-container img:hover {
  transform: scale(1.05);
}

.lang-bottom-button-container {
  margin-top: 30px;
  display: flex;
  width: 400px;
  justify-content: space-around;
}

.lang-select-random-button,
.lang-select-list-button {
  width: 175px;
}

.lang-select-random-button {
  opacity: 0;
  animation: fadeIn 1s forwards, bumpRight 0.5s 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes bumpRight {
  50% {
    transform: translateX(14px);
  }
  to {
    transform: translateX(0);
  }
}

.lang-select-list-button {
  opacity: 0;
  animation: fadeIn 1s forwards, bumpLeft 0.5s 0.5s forwards;
}

@keyframes bumpLeft {
  50% {
    transform: translateX(-14px);
  }
  to {
    transform: translateX(0);
  }
}

.lang-bottom-button-container button {
  padding: 10px 20px;
  border: #2e2e2e solid 2px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background: #2e2e2e;
  transition: all 0.3s ease;
}

.lang-bottom-button-container button:hover {
  border: #9400FF solid 2px;
  background-color: #9400FF;
  box-shadow: 0 50px 30px rgba(148, 0, 255, 0.2);
}
