.error404Page-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 130px);
    padding: 20px;
    animation: scaleIn 1s forwards;
}

.error404-img {
    width: 350px;
    user-select: none;
}

.error404Page-h1 {
    display: block;
    width: 400px;
    height: 65px;
    padding: 14px 12px;
    border: 2px solid #333333;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #1e1e1e;
    font-size: 30px;
    color: #ff6b6b;
    margin: 0 0 10px 0;
}

.error404Page-p {
    font-size: 15px;
    color: #ccc;
}

.error404Page-cursor-animation {
    display: inline-block;
    vertical-align: top;
    width: 2px;
    height: 30px;
    background-color: white;
    animation: cursorBlink 1.5s infinite;
    margin-left: 5px;
}

@keyframes cursorBlink {
    0%, 20% {
        opacity: 1;
    }
    21%, 50% {
        opacity: 0;
    }
    51%, 100% {
        opacity: 1;
    }
}