.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: calc(100vh - 130px);
}

.language-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: calc(100vh - 130px);
}

.list-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: calc(100vh - 130px);
}

.lang-button {
    padding: 20px;
}

  
/* RandomBtn 스타일 */
.random-button {
    color: #333;
}
  
.random-button:hover {
    color: blue;
}