.complete-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: scaleIn 0.3s forwards;
}

.complete-modal-content {
    justify-content: space-between;
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.05);
    padding: 20px;
    height: 342px;
    width: 280px;
}

.complete-modal-title {
    display: flex;
    justify-content: center;
}

.complete-modal-content-infos {
    margin-top: 50px;
}

.complete-modal-date-now {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.complete-modal-content-time, .complete-modal-content-speed {
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    border-top: 2px solid white;
}

.complete-modal-content-speed {
    border-bottom: 2px solid white;
}

.complete-time-title, .complete-speed-title {
    font-size: 13px;
}
.complete-time-num, .complete-speed-num {
    font-size: 25px;
    font-weight: bold;
}

.complete-modal-content-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete-modal-content button {
    width: 105px;
    color: white;
    background: #2e2e2e;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 10px;
    border: #2e2e2e solid 1px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.complete-modal-home-button {
    margin-right: 10px;
}

.complete-modal-content button:hover {
    border: #9400FF solid 1px;
    background-color: #9400FF;
}