.typingPage-main-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    height: calc(100vh - 86px);
    animation: scaleIn 1s forwards;
}

/*.ad {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*}*/

.typingPage-long-text-container {
    height: 100%;
    overflow-y: auto;
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 6px 10px rgba(255, 255, 255, 0.05);
    white-space: pre-wrap;
    padding: 20px;
}

.typingPage-current-text {
    margin: 12px 0;
    padding: 5px;
    border-radius: 6px;
    word-break: break-word;
}

.typingPage-current-text.before,
.typingPage-current-text.after{
    border: none;
}

.typingPage-current-text.before {
    color: gray;
}

.typingPage-current-text.current {
    color: gray;
    border: 2px solid #9400FF;
}

.typingPage-current-text.after{
    color: white;
}

.typingPage-long-text-container::-webkit-scrollbar {
    width: 8px;
}

.typingPage-long-text-container::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

.typingPage-long-text-container::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.typingPage-info-container {
    display: flex;
    align-items: center;
    margin: 20px 5px 15px 5px;
    padding: 10px 3px;
    position: relative;
}

.typingPage-info-container p,
.progress-bar-container {
    position: absolute;
}

.typingPage-info-container .time {
    left: 95px;
}

.typingPage-info-container .offer {
    left: 215px;
}

.progress-bar-container {
    height: 5px;
    background-color: #2e2e2e;
    border-radius: 12px;
    left: 410px;
    bottom: 4px;
    width: calc(100% - 415px);
}

.progress-bar {
    height: 100%;
    border-radius: 12px;
    background-color: #5cd15c;
    transition: width 0.3s ease;
}

.image-overlay {
    position: absolute;
    bottom: -5px;
}

.image-overlay img {
    width: 30px;
    object-fit: contain;
    user-select: none;
}


.typingPage-input-current-text {
    margin: 0 0 2px;
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 14px 12px;
    border: 2px solid #333333;
    border-radius: 12px;
    box-sizing: border-box;
    word-break: break-word;
}


.typingPage-text-input {
    display: block;
    width: 100%;
    padding: 14px 12px;
    font-size: 18px;
    border: 2px solid #333333;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: white;
    transition: border-color 0.3s ease;
}

.typingPage-text-input:focus {
    outline: none;
    border-bottom: 2px solid #9400FF;
    box-shadow: 0 8px 16px rgba(148, 0, 255, 0.2);
}

.red-text {
    color: #ff6b6b;
}

.green-text {
    color: #5cd15c;
}

.typingPage-input-current-text.shake{
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
}